# ===== Backend =====
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

# ===== Frontend =====
frontend/node_modules/
frontend/dist/

# ===== IDE =====
.idea
*.iws
*.iml
*.ipr
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
