密级：秘密
文件编号：D00-000000
需求规约
东软睿道教育信息技术有限公司
(版权所有，翻版必究)
更改履历
状态：新建、增加、修改、删除。
引言
目的
本文档是根据工业4.0智能制造生态链中云工厂在实际生产当中的工作流程进行充分调研和整理出来的，描述最终用户在本系统中对于生产订单的处理、排产、以及生产的完整在线处理流程和业务需求的文档。本文档的目的一方面是指导学员了解最终的业务需求，另一方面是作为后续开发设计的业务需求指导文档。
背景
工业4.0 智能制造生态链
参考资料
术语
订单：本网站从其他线上或者线下获取的生产订单。
设备：注册工厂接入平台的设备，可用于排产、调度 
产品：注册工厂可接单的产品。未配置的产品无法接单。 
生产计划：根据订单内容生成的生产计划，用于调度参考。
生产调度：根据生产计划内容，可以调动所配置的设备进行预生产。
工单：为具体设备调度生产的记录。
报工：具体设备生产情况报告。
产能：注册工厂一定时间段内具体产品的可生产量。
任务概述
目标
需求规定
非功能性需求
集中数据管理，实现信息实时共享、为使用者提供最新的工厂生产数据以及产能状态。
完全的浏览器在线操作模式，无需安装、操作方便，具有良好的系统扩充能力。
完整的生产工作流模式，实现在线智能制造管理功能。
可扩展性，后续可对接线上设备操控系统、设备租赁系统、产能交易系统、电商接单平台、产品发货系统。
功能性需求
角色说明
系统管理员、订单管理员、计划管理员、调度管理员、生产员工
系统功能结构图
系统整体业务流程图
系统用例图
具体功能需求说明
注册
需求描述
业务功能描述
主要用于注册新的工厂，要求工厂名、用户名不能重复。注册工厂后注册用户默认为该工厂管理员，可查询该工厂所有数据。工厂可有多名用户。
数据描述
登录
需求描述
业务流程描述
数据描述
数据基于当前已注册工厂、人员
首页
需求描述
业务流程描述
当用户登录后，首先进入该页面。
数据描述
一、当前设备运行情况
	启用设备中包括待机、加工中和停机的设备。
加工中：根据系统当前时间查询当前已启动工单中的所匹配的设备。
待机中：根据系统当前时间查询当前未启动工单中的所匹配的设备。
停机中：根据系统当前时间查询停用的设备。
开机率
当前工厂已添加设备中的状态为“加工中”、“待机”的数量之和与所有设备数量比率
故障率
当前工厂已添加设备中的状态为“故障”的数量与所有设备数量比率
	c） 运行率
	当前工厂已添加设备中的状态为“加工中”的数量与所有设备数量比率
	d） 综合效率
		当前工厂已添加设备中的状态为“加工中”与所有已启用设备数量的比例
设备信息
	此区域展示设备管理中所有录入的设备当前的运行情况，以及设备信息的显示。
	数据源：设备管理模块
当前订单数据统计
	此区域展示当前时间整个工厂的订单跟踪状况。
	数据来源：订单管理模块
四、年度订单情况汇总
此区域展示工厂本年度各个月份内已接单的订单数量统计。订单状态包括已接单、已排产、已完成的订单数量。
	数据来源：订单管理模块
产品管理
需求描述
业务流程描述
数据描述
设备管理
需求描述
业务流程描述
数据描述
订单管理
需求描述
业务流程描述
业务说明:
新建：可生成一条来源为线下的订单，状态为未接单
接单：将当前订单置为已接单状态，要求待接单订单可用产能超过产品数量时可接单，如可用产能不足需要提示。
	拒单：将当前订单状态置为已拒绝状态。拒绝状态下订单不可再次接单。要求，拒绝订单须填写备注。
	转成计划：订单在已接单状态可将订单转成生产计划，填写计划起始日期可生成对应的生产计划（未启动），并将该订单置为生产中。
	完成订单：将生产中的订单置成已完成状态。在订单完成数量达到订单数量后可完成此操作。要求如果订单完成数量未达到订单数量时，需提示并录入备注才可完成订单。完成订单操作后，需要将该订单关联的所有生产计划、工单置成已完成状态。
数据描述
生产计划管理
需求描述
业务流程描述
数据描述
生产调度管理
需求描述
业务流程描述      
数据描述
生产跟踪
需求描述
业务流程描述
数据描述
运行环境规定
软件环境
数据库：mySql
中间件：tomcat 7 以上
JDK:1.8及以上
IE9以上及其他现代浏览器
硬件环境
2G内存、硬盘40G

=== TABLES ===

--- Table 1 ---
序号 | 版本 | 更改时间 | 更改人 | 更改章节 | 状态 | 更改描述
1 | V1.0 | 2018-2-27 | 曹飞宇 |  | 新建 | 
3 |  |  |  |  |  | 

--- Table 2 ---
功能 | 备注 | 裁剪说明
注册 | 注册一个工厂 | 可裁剪
登录 | 登录已拥有工厂 | 可裁剪
首页 | 主要展示工厂当前运行情况 | 可裁剪
、
产品管理 | 用于对工厂可生产产品进行管理 | 不可裁剪
设备管理 | 用于对工厂已有设备进行管理 | 不可裁剪
订单管理 | 用于对工厂的订单进行管理 | 不可裁剪
生产计划管理 | 可对订单生成的生产计划进行管理 | 不可裁剪
生产调度管理 | 可对启动的生产计划进行调度管理 | 不可裁剪
生产跟踪 | 对生产中的设备进行报工 | 不可裁剪

--- Table 3 ---
功 能 需 求 | 功 能 需 求
功能名称 | 注册
优先级 | 低
业务背景 | 工厂录入
功能说明 | 进行工厂平台入驻
约束条件 | 工厂名称不可重复
其他需求 | 
裁剪说明 | 可裁剪

--- Table 4 ---
功 能 需 求 | 功 能 需 求
功能名称 | 登录
优先级 | 低
业务背景 | 约束平台数据权限
功能说明 | 用于用户登录平台系统，获取所属工厂信息，获取当前用户菜单权限
可登录平台获取所属工厂的数据key
约束条件 | 
其他需求 | 
裁剪说明 | 可裁剪

--- Table 5 ---
功 能 需 求 | 功 能 需 求
功能名称 | 首页
优先级 | 高
业务背景 | 工厂主页
功能说明 | 动态显示当前登录工厂中的设备运行情况，工厂生产效益情况，订单统计情况。
约束条件 | 
其他需求 | 
裁剪说明 | 可裁剪

--- Table 6 ---
功 能 需 求 | 功 能 需 求
功能名称 | 产品管理
优先级 | 高
业务背景 | 工厂的产品管理
功能说明 | 查询：可根据产品名称查询出当前工厂相关产品的内容列表
新增：可进行工厂产品内容的录入，要求同一工厂产品不可重名
编辑：对已存在产品内容进行编辑，要求同一工厂产品不可重名
删除：对已存在的产品进行删除操作，要求存在关联已接单订单时不可删除
约束条件 | 
其他需求 | 存在关联的已接单订单时不可删除
裁剪说明 | 不可裁剪

--- Table 7 ---
名称 | 描述 | 是否必添
编号 | 后台自动生成 | 是
产品图片 |  | 否
产品名称 |  | 是

--- Table 8 ---
功 能 需 求 | 功 能 需 求
功能名称 | 设备管理
优先级 | 高
业务背景 | 工厂录入设备、录入产能
功能说明 | 查询：根据产品名称、设备名称查询当前工厂所有相关设备内容列表。
新增：可以对工厂设备信息进行录入，填写设备信息，关联可生产产品并录入产能，设备序列号必填，且不可重复，对同一产品只能添加一条产能信息。
编辑：对工厂设备信息进行修改，要求同一工厂序列号不能重复
删除：删除设备记录，要求已关联启动工单的设备不可删除
约束条件 | 设备序列号必填，且不可重复
关联产品,对同一产品只能添加一条产能信息
要求已关联启动工单的设备不可删除
其他需求 | 
裁剪说明 | 不可裁剪

--- Table 9 ---
名称 | 描述 | 是否必添
设备序列号 |  | 是
设备状态 | 状态分为:启用、停用、故障. | 是
设备图片 |  | 否
可生产产品 | (下拉框, 数据来源产品管理)
设备序列号相同、同一产品的产能记录只能保留一个 | 否
产能 | 与可生产产品对应 | 否

--- Table 10 ---
功 能 需 求 | 功 能 需 求
功能名称 | 订单管理
优先级 | 高
业务背景 | 来源于产品订单以及产能订单
功能说明 | 可新建产品订单或者处理已有订单，实现接单排产等操作
约束条件 | 只有当前工厂有产品才有订单处理能力
其他需求 | 
裁剪说明 | 不可裁剪

--- Table 11 ---
名称 | 描述 | 是否必添
订单编号 | 后台自动生成（以O开头+时间戳来标识） | 否
订单来源 | 默认为线下订单. | 否
产品名称 | (下拉框, 数据来源产品管理) | 是
产品数量 |  | 是
订单截止日期 |  | 是
订单状态 | 新建订单状态为未接单
状态: 待接单, 已拒绝, 已接单, 生产中, 已完成 | 否
已完成数量 |  | 否
可用产能 |  | 否

--- Table 12 ---
功 能 需 求 | 功 能 需 求
功能名称 | 生产计划管理
优先级 | 高
业务背景 | 工厂对已接订单的排产计划管理
功能说明 | 可对已有的生产计划进行调整

新建：可对已接单的订单创建新的生产计划 要求对应订单状态为生产中的订单，新建后的计划状态为未启动.

启动：可将符合条件的生产计划启动，启动后该计划状态为已启动，并生成一条未开始的工单，对应设备为空，已启动计划不可编辑，不可删除。

删除：可将不符合条件的生产计划（未启动）进行删除，要求每条生产中订单必须有一条以上生产计划。
约束条件 | 来源于订单
已启动计划不可编辑，不可删除
每条生产中订单必须有一条以上生产计划
其他需求 | 
裁剪说明 | 可裁剪

--- Table 13 ---
名称 | 描述 | 是否必添
计划编号 | 后台自动生成 | 否
订单编号 | (下拉框, 数据来源订单管理) | 否
产品(产品名称) | 选择订单编号后自动带出 | 否
计划数量 | 选择订单编号后自动带出 | 是
交货日期 | 选择订单编号后自动带出 | 否
计划开始时间 |  | 是
计划结束时间 |  | 是

--- Table 14 ---
功 能 需 求 | 功 能 需 求
功能名称 | 生产调度管理
优先级 | 高
业务背景 | 工厂调度员根据生产计划用来分配每一设备的工作
功能说明 | 可将生产计划拆分为多个工单，工单对应设备进行生产

新建：可对已启动的生产计划新建工单 安排特定设备进行生产

启动：对符合条件的未启动工单启动，可将工单状态置成已启动，已启动工单不可编辑不可删除。

删除：可将不符合条件的未启动工单进行删除操作，要求每一条已启动计划中必须有一条以上工单记录。
约束条件 | 工单建立需基于生产计划
已启动工单不可编辑不可删除
要求每一条已启动计划中必须有一条以上工单记录
其他需求 | 
裁剪说明 | 可裁剪

--- Table 15 ---
名称 | 描述 | 是否必添
计划编号 | (下拉框, 数据来源订单管理) | 是
产品(产品名称) | 选择计划编号后自动带出 | 是
产品数量 | 选择订单编号后自动带出 | 是
计划数量 | (数据来源生产计划管理) | 否
设备序列号 | (下拉框,数据来源设备管理)
只有可生产该产品的设备可被选择 | 是
开始日期 |  | 是
结束时间 |  | 是
工单状态 | 状态: 未启动, 生产中, 已完成 | 否

--- Table 16 ---
功 能 需 求 | 功 能 需 求
功能名称 | 生产跟踪
优先级 | 高
业务背景 | 设备生产情况汇报，生产情况跟踪
功能说明 | 员工可对设备当前的生产情况进行报工，更新生产进度状况

报工：可对已启动的工单进行报工操作。报工操作需要录入加工数量、合格数量，加工起始时间。

完成报工：在当前工单生产完成时可完成最后一次报工，勾选完成报工，可将当前工单置成已完成状态。
约束条件 | 完成报工时需更新订单中的完成数量。
其他需求 | 
裁剪说明 | 不可裁剪

--- Table 17 ---
名称 | 描述 | 是否必添
工单编号 | (下拉框, 数据来源订单管理) | 否
产品名称 | 选择计划编号后自动带出 | 否
设备序列号 | 选择订单编号后自动带出 | 否
工单状态 | (数据来源生产计划管理) | 否
加工开始时间 |  | 是
加工结束时间 |  | 是
加工数量 |  | 是
合格数量 |  | 是
是否结束报工 | 如果结束报工处选择是，则结束当前工单报工状态，置当前工单状态为完成 | 是
